<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>flight_land</mat-icon>
      </button>
      <br>
      <span> FASHION DESTINATION </span>
      <mat-icon>shopping_bag</mat-icon>
      <span class="example-spacer"></span>
      <mat-divider></mat-divider>
   <section>
     <div class="example-button-row">
     <button mat-raised-button routerLink=''>
         Home
      </button>
      <button mat-raised-button routerLink='about'>
         About
      </button>
     <button mat-raised-button routerLink='addproduct'>
         Add Product
     </button>
     </div>
   </section>
     </mat-toolbar>
 
 </p>
 
