
    <div class="thumb" style="background-image:url(assets/img/world.jpg); width:100%; height:65%;"></div>
    <div class="parent">
       <h3>  Welcome to Fashion Destination ! </h3> 
    <p>
        ______________________________________Shopping wth Style
        <br> New designs everyday
        <br> " We work together to design products that we are proud of and
        <br>  guarantee customer satisfaction ... "
    </p>
    </div>
     
<mat-grid-list cols="3" rowHeight="1.5:1">

    <mat-grid-tile>
     <mat-card class="example-card"> 
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title >{{products?.[0].title}}</mat-card-title>
        <mat-card-subtitle>{{products?.[0].id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> 
        <p>
            {{products?.[0].description}}
        </p>
      </mat-card-content>
     </mat-card>
    </mat-grid-tile>
   
     <mat-grid-tile>
       <mat-card class="example-card"> 
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{products?.[1].title}}</mat-card-title>
          <mat-card-subtitle>{{products?.[1].id}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> 
          <p>
              {{products?.[1].description}}
          </p>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
   
    <mat-grid-tile>
       <mat-card class="example-card"> 
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{products?.[2].title}}</mat-card-title>
          <mat-card-subtitle>{{products?.[2].id}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> 
          <p>
              {{products?.[2].description}}
          </p>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
   
    <mat-grid-tile>
       <mat-card class="example-card"> 
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{products?.[3].title}}</mat-card-title>
          <mat-card-subtitle>{{products?.[3].id}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> 
          <p>
              {{products?.[3].description}}
          </p>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>
   
    <mat-grid-tile>
     <mat-card class="example-card"> 
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{products?.[4].title}}</mat-card-title>
        <mat-card-subtitle>{{products?.[4].id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> 
        <p>
            {{products?.[4].description}}
        </p>
      </mat-card-content>
     </mat-card>
    </mat-grid-tile>
   
    <mat-grid-tile>
     <mat-card class="example-card"> 
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{products?.[5].title}}</mat-card-title>
        <mat-card-subtitle>{{products?.[5].id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> 
        <p>
            {{products?.[5].description}}
        </p>
      </mat-card-content>
     </mat-card>
  </mat-grid-tile>

   
    
